<style>

body {
  background-image:url("<%= asset_path 'settings.jpg' %>");

}

.blurred-bg {
  background-image: url("<%= asset_path 'settings-blurred.jpg' %>");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.blurred-bg.tinted {
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("<%= asset_path 'settings-blurred.jpg' %>");
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("<%= asset_path 'settings-blurred.jpg' %>");
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("<%= asset_path 'settings-blurred.jpg' %>");
}
.blurred-bg.shaded {
  background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("<%= asset_path 'settings-blurred.jpg' %>");
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("<%= asset_path 'settings-blurred.jpg' %>");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("<%= asset_path 'settings-blurred.jpg' %>");
}

.form-box {
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-collapse: separate !important;
  width: 60%;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 35%;
}

.submit-row {
  padding-top:10px;
  padding-bottom:10px;
}

.title-size {
  top: 20%;
  font-size: 40px;
  font-weight: bold;
}
</style>


<!--<h2>Edit <%= resource_name.to_s.humanize %></h2>-->

<h1 class="title title-size">Settings</h1>

<div class="form-box blurred-bg tinted">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if current_user.musician %>
  <div class="row-fluid submit-row">
    <%= f.submit "Update", :class => "btn btn-default col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1"%>
    <%= button_to "Upload", user_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1"%>
    <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1"%>
  </div>
  <% else %>
  <div class="row-fluid submit-row">
    <%= f.submit "Update", :class => "btn btn-default col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1"%>

    <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2"%>
  </div>
  <% end %>
  <% end %>
  <div class="text-center row-fluid submit-row">
    <%= link_to "Back", :back, class: "col-sm-10 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"%>
  </div>
</div>
