<!DOCTYPE html>
<html>
	<head>
		<title>HeatUp - PlayNow</title>
	<head>

	<style>
		body {
		background-image:url("<%= asset_path @genre.downcase+'.jpg' %>");

	}

	.table-page {
		position: absolute;
		left: 20%;
		right: 20%;
		top: 50%;
		width: 60%;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color:#E62F2F;
		/*background-color: rgba(255,255,255,0.5);*/
		border: 2px solid rgba(255, 255, 255, 0.4);
				border-radius: 14px;
		-webkit-border-radius: 14px;
		-moz-border-radius: 14px;
		border-collapse: separate !important;
	}

	.title-size {
		font-size: 40px;
		color:#E62F2F;
	}

	.blurred-bg {
		background-image: url("<%= asset_path @genre.downcase+'-blurred.jpg' %>");
		background-repeat: no-repeat;
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
 		background-position:top center;
		background-size: cover;
		background-attachment: fixed;
	}
	.blurred-bg.tinted {
		background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("<%= asset_path @genre.downcase+'-blurred.jpg' %>");
		background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("<%= asset_path @genre.downcase+'-blurred.jpg' %>");
		background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("<%= asset_path @genre.downcase+'-blurred.jpg' %>");
	}
	.blurred-bg.shaded {
		background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("<%= asset_path @genre.downcase+'-blurred.jpg' %>");
		background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("<%= asset_path @genre.downcase+'-blurred.jpg' %>");
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("<%= asset_path @genre.downcase+'-blurred.jpg' %>");
	}

	.table-no-border>thead>tr>th, 
	.table-no-border>tbody>tr>th, 
	.table-no-border>tfoot>tr>th, 
	.table-no-border>thead>tr>td, 
	.table-no-border>tbody>tr>td, 
	.table-no-border>tfoot>tr>td {
		border-top: none;
		border-bottom: none;
	}

	.table-page>thead>tr>th {
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}

	</style>
	
	<body>
		<h1 class="title title-size"><%= @genre %></h1>

		<div>
			<h4><b><%= @song1.artist + " " + @song1.title%></b></h4>
			<%= audio_tag("#{@song1.path}", autoplay: false, controls: true)%>
		</div>
		<!--<div align="center">
			
			<table align="center" border="2">
				<caption style="color:indigo">Player</caption>
				<tr>
					<td align="center"><%= @song1.artist + " " + @song1.title%></td>
					<td align="center"><%= @song2.artist + " " + @song2.title%></td>
				</tr>
				<tr>
					<td align="center">
					<%= audio_tag("#{@song1.path}", autoplay: false, controls: true)%>

					</td>
					<td align="center">
						<%= audio_tag("#{@song2.path}", autoplay: false, controls: true)%>
					</td>
				</tr>

			<%= form_tag player_path do %>
				<tr>
					<td align="center"><%= radio_button_tag(:win, "win1") %>
			<%= label_tag(:w1, "#{@song1.title}") %></td>
					<td align="center"><%= radio_button_tag(:win, "win2") %>
			<%= label_tag(:w2, "#{@song2.title}") %></td>
				</tr>
				<tr>
				<%= hidden_field_tag(:genre, @genre)%>
				<%= hidden_field_tag(:playerNow, true)%>
				<%= hidden_field_tag(:song1Id, @song1.id)%>
				<%= hidden_field_tag(:song2Id, @song2.id)%>
				<td align="center" colspan="2"><%= submit_tag "Next" %></td>
				</tr>
			<% end %>
			</table>
			
		</div>-->

		<table class="table table-page table-no-border blurred-bg tinted">
				<caption class="text-center title-size">Top Songs</caption>
				<thead>
					<tr>
						<th>Place</th>
						<th>Title</th>
						<th>Artist</th>
						<th>Votes</th>
					</tr>
				</thead>
				<tbody>
					<% @songs.each do |f| %>
					<tr>
						<td align="center">1</td>
						<td align="center"><%= f.title %></td>
						<td align="center"><%= f.artist %></td>
						<td align="center"><%= f.votes %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
	</body>
</html>